    body {
        
        background-color: rgb(150, 183, 243);
            line-height: 21px;
                font-size: 20px;
            text-align: center;
         font-style: italic;
    }
.Cod {
    text-align: center;
        font-size: 50px;
        font-weight: bold;
    text-decoration: underline;
}


.blue {
    background-color: rgb(73, 66, 66);
    padding: 20px;
    margin: 1px 250px 30px 250px;
    color: white;
}

    